* {
  margin: 0;
  text-decoration: none;
}
nav {
  width: 100%;
  height: 8rem;
  background-color: #edefee;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 5rem;
  margin-left: 5rem;
}
ul {
  display: flex;
  text-align: center;
  margin-right: 4rem;
}
.nav-link {
  list-style: none;
}
.linkA {
  color: #333333;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 2.2rem;
  margin: 13px;
  font-family: "Markazi Text";
}
.linkA:hover {
  color: #edefee;
  background-color: #333333;
  transition: 0.3s;
}
